<button mat-raised-button color="primary" alGoogleLogin
  (loginOk)="login($event)" (loginError)="showError($event)">
  <mat-icon>account_circle</mat-icon>
  Login with Google
</button>

<div *ngIf="user">
  <p>{{user.getBasicProfile().getName()}}</p>
  <p><img [src]="user.getBasicProfile().getImageUrl()"></p>
  <p>{{this.user.getAuthResponse().id_token}}</p>
</div>

<button mat-raised-button color="accent" alFbLogin
  [scopes]="['email', 'public_profile']"
  (loginOk)="loginFB($event)" (loginError)="showError($event)">
  <mat-icon>account_circle</mat-icon>
  Login with Facebook
</button>

<p>{{fbToken}}</p>
