input.ng-touched.ng-invalid {
  border: 1px solid red;
}

input.ng-touched.ng-valid {
  border: 1px solid green;
}

div.ng-invalid[formGroupName="emailGroup"]
  input.ng-touched[formControlName="emailConfirm"] {
  border: 1px solid red;
}
