<div class="card">
  <div class="card-header bg-primary text-white">
    {{ product?.description }}
  </div>
  <div class="card-block p-3 text-center">
    <img [src]="product?.imageUrl" alt="" />
    <div>Price: {{ product?.price | currency: 'EUR':'symbol' }}</div>
    <div>Available since: {{ product?.available | date: 'dd/MM/y' }}</div>
    <div>
      <star-rating
        *ngIf="product"
        [rating]="product.rating"
        (ratingChanged)="changeRating($event)"
      ></star-rating>
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="goBack()">
        Go back
      </button>
      <button type="button" class="btn btn-secondary ml-3" (click)="edit()">
        Edit product
      </button>
    </div>
  </div>
</div>
